/* CSS */
.restart{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.restart:not(:disabled):hover {
  transform: scale(1.05);
}

.restart:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.restart:focus {
  outline: 0 solid transparent;
}

.restart:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.restart:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.restart:focus:not(:focus-visible):before {
  border-width: 0;
}

.restart:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
.restart_tg{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.restart_tg:not(:disabled):hover {
  transform: scale(1.05);
}

.restart_tg:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.restart_tg:focus {
  outline: 0 solid transparent;
}

.restart_tg:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.restart_tg:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.restart_tg:focus:not(:focus-visible):before {
  border-width: 0;
}

.restart_tg:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
.restart_coop{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.restart_coop:not(:disabled):hover {
  transform: scale(1.05);
}

.restart_coop:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.restart_coop:focus {
  outline: 0 solid transparent;
}

.restart_coop:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.restart_coop:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.restart_coop:focus:not(:focus-visible):before {
  border-width: 0;
}

.restart_coop:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
.continue{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.continue:not(:disabled):hover {
  transform: scale(1.05);
}

.continue:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.continue:focus {
  outline: 0 solid transparent;
}

.continue:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.continue:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.continue:focus:not(:focus-visible):before {
  border-width: 0;
}

.continue:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
.menu{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.menu:not(:disabled):hover {
  transform: scale(1.05);
}

.menu:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.menu:focus {
  outline: 0 solid transparent;
}

.menu:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.menu:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.menu:focus:not(:focus-visible):before {
  border-width: 0;
}

.menu:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#reiting_tg{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#reiting_tg:not(:disabled):hover {
  transform: scale(1.05);
}

#reiting_tg:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#reiting_tg:focus {
  outline: 0 solid transparent;
}

#reiting_tg:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#reiting_tg:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#reiting_tg:focus:not(:focus-visible):before {
  border-width: 0;
}

#reiting_tg:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#start_tg{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start_tg:not(:disabled):hover {
  transform: scale(1.05);
}

#start_tg:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#start_tg:focus {
  outline: 0 solid transparent;
}

#start_tg:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#start_tg:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#start_tg:focus:not(:focus-visible):before {
  border-width: 0;
}

#start_tg:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#starttime{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#starttime:not(:disabled):hover {
  transform: scale(1.05);
}

#starttime:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#starttime:focus {
  outline: 0 solid transparent;
}

#starttime:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#starttime:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#starttime:focus:not(:focus-visible):before {
  border-width: 0;
}

#starttime:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#settings{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#settings:not(:disabled):hover {
  transform: scale(1.05);
}

#settings:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#settings:focus {
  outline: 0 solid transparent;
}

#settings:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#settings:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#settings:focus:not(:focus-visible):before {
  border-width: 0;
}

#settings:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#back{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#back:not(:disabled):hover {
  transform: scale(1.05);
}

#back:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#back:focus {
  outline: 0 solid transparent;
}

#back:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#back:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#back:focus:not(:focus-visible):before {
  border-width: 0;
}

#back:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#back_menu_coop{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#back_menu_coop:not(:disabled):hover {
  transform: scale(1.05);
}

#back_menu_coop:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#back_menu_coop:focus {
  outline: 0 solid transparent;
}
#back_menu_coop:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}
#back_menu_coop:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#back_menu_coop:focus:not(:focus-visible):before {
  border-width: 0;
}

#back_menu_coop:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#back_menu{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#back_menu:not(:disabled):hover {
  transform: scale(1.05);
}

#back_menu:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#back_menu:focus {
  outline: 0 solid transparent;
}
#back_menu:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#back_menu:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#back_menu:focus:not(:focus-visible):before {
  border-width: 0;
}

#back_menu:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#null_table_reiting{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#null_table_reiting:not(:disabled):hover {
  transform: scale(1.05);
}

#null_table_reiting:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#null_table_reiting:focus {
  outline: 0 solid transparent;
}
#null_table_reiting:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#null_table_reiting:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}
#null_table_reiting:focus:not(:focus-visible):before {
  border-width: 0;
}

#null_table_reiting:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#restartaudio{
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#restartaudio:not(:disabled):hover {
  transform: scale(1.05);
}

#restartaudio:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#restartaudio:focus {
  outline: 0 solid transparent;
}

#restartaudio:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#restartaudio:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#restartaudio:focus:not(:focus-visible):before {
  border-width: 0;
}

#restartaudio:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#play{
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#play:not(:disabled):hover {
  transform: scale(1.05);
}

#play:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#play:focus {
  outline: 0 solid transparent;
}

#play:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#play:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#play:focus:not(:focus-visible):before {
  border-width: 0;
}

#play:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#pause{
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#pause:not(:disabled):hover {
  transform: scale(1.05);
}

#pause:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#pause:focus {
  outline: 0 solid transparent;
}

#pause:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#pause:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#pause:focus:not(:focus-visible):before {
  border-width: 0;
}

#pause:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#next{
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#next:not(:disabled):hover {
  transform: scale(1.05);
}

#next:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#next:focus {
  outline: 0 solid transparent;
}

#next:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#next:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#next:focus:not(:focus-visible):before {
  border-width: 0;
}

#next:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#start_coop{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start_coop:not(:disabled):hover {
  transform: scale(1.05);
}

#start_coop:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#start_coop:focus {
  outline: 0 solid transparent;
}

#start_coop:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#start_coop:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#start_coop:focus:not(:focus-visible):before {
  border-width: 0;
}

#start_coop:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#start_coop_two{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start_coop_two:not(:disabled):hover {
  transform: scale(1.05);
}

#start_coop_two:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}
#start_coop_two:focus {
  outline: 0 solid transparent;
}

#start_coop_two:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#start_coop_two:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#start_coop_two:focus:not(:focus-visible):before {
  border-width: 0;
}

#start_coop_two:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#start{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start:not(:disabled):hover {
  transform: scale(1.05);
}

#start:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#start:focus {
  outline: 0 solid transparent;
}

#start:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#start:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#start:focus:not(:focus-visible):before {
  border-width: 0;
}

#start:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS
#start{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#start:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

CSS 
#start{
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: absolute;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: absolute;
  cursor: pointer;
  transform: rotate(-4deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#start:focus {
  outline: 0;
}

#start:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#start:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  #start{
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}*/

/* CSS */
#startweb{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startweb:not(:disabled):hover {
  transform: scale(1.05);
}

#startweb:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#startweb:focus {
  outline: 0 solid transparent;
}

#startweb:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#startweb:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#startweb:focus:not(:focus-visible):before {
  border-width: 0;
}

#startweb:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
#menuwinner{
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#menuwinner:not(:disabled):hover {
  transform: scale(1.05);
}

#menuwinner:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

#menuwinner:focus {
  outline: 0 solid transparent;
}

#menuwinner:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

#menuwinner:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#menuwinner:focus:not(:focus-visible):before {
  border-width: 0;
}

#menuwinner:not(:disabled):active {
  transform: translateY(.125rem);
}
/* CSS *//*
#startweb{
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: absolute;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: absolute;
  cursor: pointer;
  transform: rotate(-4deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startweb:focus {
  outline: 0;
}

#startweb:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#startweb:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  #startweb{
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}*/

/*CSS*/
